@import "normalizez.scss"
@import "resets.scss"
.container
    max-width: 1140px
    margin: 0 auto
    border: 1px solid #F00
.main-section
    height: 800px
    background: #F0F0F0

.nav-menu
    &__list
        display: flex


